.custom-info{
   margin-left: -510px ;
}


@media screen and (max-width:1300px){
    .custom-info{
        margin-left: -480px ;
     }
}


@media screen and (max-width:1230px){
    .custom-info{
        margin-left: -440px ;
     }
}


@media screen and (max-width:1160px){
    .custom-info{
        margin-left: -400px ;
     }
}

@media screen and (max-width:1080px){
    .custom-info{
        margin-left: -360px ;
     }
}
